name: Build GHA image in GHA

on:
  workflow_dispatch:
  push:

jobs:
  build:
    name: Run gaplib
    runs-on: 'custom-log'
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Checkout gaplib
        uses: actions/checkout@v5
        with:
          repository: ppc64le/gaplib    # Example: octocat/Hello-World
          ref: main                       # Branch, tag, or commit SHA
          path: gaplib

      - name: Build
        run: |

          ## switch to CI pr
          cd gaplib
          git pull
          git fetch origin pull/36/head:img
          git merge img
          #git switch img

          # cat scripts/assets/lxd-preseed.yaml

          # ip a
          
          sudo scripts/lxd.sh "ubuntu" "24.04" "" "" "complete"
